<!-- a card that shows a preview of a poist and its image on top -->

<a href="{{ .RelPermalink }}" class="card glass">
    <div class="card-images">
        <!-- check if it is a post -->
        {{ if .Params.date }} 
            {{ if .Params.image }}
                <img class="card-img" src="{{ .Params.image }}" alt="{{ .Title }}">
            {{ else }}
                <img class="card-img" src="https://i.ytimg.com/vi_webp/{{ .Params.video }}/sddefault.webp" alt="{{ .Title }}">
            {{ end }}
        {{ end }}
        {{ range first 4 .Pages }}
            <div class="masonry-item">
                {{ if .Params.image }}
                    <img class="card-img" src="{{ .Params.image }}" alt="{{ .Title }}">
                {{ else }}
                    <img class="card-img" src="https://i.ytimg.com/vi_webp/{{ .Params.video }}/sddefault.webp" alt="{{ .Title }}">
                {{ end }}
            </div>
        {{ end }}
    </div>
    <div class="card-content">
        <h2>{{ .Title }}</h2>
        <p>{{ .Summary | plainify }}</p>
    </div>
    <div class="card-overlay">
    </div>
</a>
