<!-- <h1>{{ site.Title }}</h1> -->

<nav>
    <h1 class="float-left">
        <a href="/">{{ site.Title }}</a>
    </h1>
    <div class="float-right">
        <a href="/tags">Tags</a>
        <a href="/categories">Categories</a>
    </div>
</nav>

<style>
    nav {
        padding: 0px 100px;
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 800px) {
        nav {
            padding: 0px 20px;
        }
    }

    nav h1 {
        display: flex;
        list-style: none;
        gap: 1rem;
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
    }

    nav .float-right {
        display: flex;
        list-style: none;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }

    nav a {
        padding: 0.5rem;
    }

</style>