<script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.min.js"></script>
<div class="visual" id="visual"></div>
<div class="visual-overlay"></div>
<div class="visual-info" id="visual-info"></div>
<script>
    // a chaos game program with two functions
    // Complex class in JS
    class Complex {
        constructor(re, im) {
            this.re = re;
            this.im = im;
        }


        static cis(len, theta) {
            return new Complex(len * Math.cos(theta), len * Math.sin(theta));
        }

        static abs(a) {
            return Math.sqrt(a.re * a.re + a.im * a.im);
        }

        static conjugate(a) {
            return new Complex(a.re, -a.im);
        }

        static arg(a) {
            return Math.atan2(a.im, a.re);
        }


        static exp(a) {
            return new Complex(Math.exp(a.re) * Math.cos(a.im),
                Math.exp(a.re) * Math.sin(a.im));
        }

        static log(a) {
            return new Complex(Math.log(Complex.abs(a)), Math.atan2(a.im, a.re));
        }

        static pow(a, b) {
            if (typeof b === 'number') {
                b = new Complex(b, 0);
            }
            return Complex.exp(Complex.log(a).mult(b));
        }

        static sin(a) {
            return new Complex(Math.sin(a.re) * Math.cosh(a.im),
                Math.cos(a.re) * Math.sinh(a.im));
        }

        static cos(a) {
            return new Complex(Math.cos(a.re) * Math.cosh(a.im),
                -Math.sin(a.re) * Math.sinh(a.im));
        }

        static tan(a) {
            return Complex.divide(Complex.sin(a), Complex.cos(a));
        }

        mult(a) {
            if (typeof a === 'number') {
                return new Complex(this.re * a, this.im * a);
            }
            return new Complex(this.re * a.re - this.im * a.im, this.re * a.im + this.im * a.re);
        }

        add(a) {
            if (typeof a === 'number') {
                return new Complex(this.re + a, this.im);
            }
            return new Complex(this.re + a.re, this.im + a.im);
        }

        sub(a) {
            if (typeof a === 'number') {
                return new Complex(this.re - a, this.im);
            }
            return new Complex(this.re - a.re, this.im - a.im);
        }

        div(b) {
            if (typeof b === 'number') {
                return new Complex(this.re / b, this.im / b);
            }
            return new Complex(
                            (this.re * b.re + this.im * b.im) / (b.re * b.re + b.im * b.im),
                            (this.im * b.re - this.re * b.im) / (b.re * b.re + b.im * b.im)
                        );
        }

        pow(b) {
            if (typeof b === 'number') {
                b = new Complex(b, 0);
            }
            return Complex.exp(Complex.log(this).mult(b));
        }

    }


    // Chaos game
    let z = new Complex(1, 1);
    let prevX = 0;
    let prevY = 0;
    let density;
    let last_density = null;
    let total_mass = 0;
    let width = 0;
    let height = 0;
    let kind = 0;
    function setup() {
        let canvas = createCanvas(windowWidth, windowHeight);
        canvas.parent('visual');
        width = canvas.width;
        height = canvas.height;
        background(0);
        colorMode(HSB);
        console.log(width, height);
        density = Array.from({ length: width }, () => Array(height).fill(0));
        last_density = Array.from({ length: width }, () => Array(height).fill(0));
        stroke(255);
        pixelDensity(1);

        document.addEventListener('keydown', (e) => {
            if (e.key==' ') {
                e.preventDefault();
                kind = (kind + 1) % n_kind;
                return;
            }
            for (let i = 0; i < n_kind; i++) {
                if (e.key == i) {
                    kind = i;
                }
            }
        });
    }

    let kinds = {
        "0": {
            "name": "Add and Multiply",
            "functions": [
                (z, mouse) => z.add(2).mult(0.5),
                (z, mouse) => z.mult(mouse).mult(0.5)
            ]
        },
        "1": {
            "name": "Inverse Julia",
            "functions": [
                (z, mouse) => z.add(mouse.mult(-1)).pow(0.5).mult(-1),
                (z, mouse) => z.add(mouse.mult(-1)).pow(0.5),
            ]
        },
        "2": {
            "name": "Unnamed 1",
            "functions": [
                (z, mouse) => z.add(mouse).pow(0.9),
                (z, mouse) => z.mult(Complex.cis(-0.5, 0.08)),
            ]
        },
        "3": {
            "name": "Unnamed 2",
            "functions": [
                (z, mouse) => z.mult(new Complex(-0.34, 0.65)),
                (z, mouse) => Complex.exp(z).mult(mouse).pow(0.5),
            ]
        }
    }

    let n_kind = Object.keys(kinds).length;

    function draw() {
        if (mouseX !== prevX || mouseY !== prevY) {
            density = Array.from({ length: width }, () => Array(height).fill(0));
            total_mass = 0;
            background(0);
            let info = '';
            let functions = kinds[kind].functions;
            let name = kinds[kind].name;
            info += name + ' (Space to change)<br>';
            let mouse = new Complex((mouseX - width / 2) / 200.0, (mouseY - height / 2) / 200.0);
            let mouse_string = `${mouse.re.toFixed(2)} + ${mouse.im.toFixed(2)}i`;
            for (let i = 0; i < functions.length; i++) {
                info += functions[i].toString().replace('(z, mouse) =>', `f${i+1}(z) = `).replace('mouse', mouse_string) + '<br>';
            }
            document.getElementById('visual-info').innerHTML = info;
        }
        prevX = mouseX;
        prevY = mouseY;

        let mouse = new Complex((mouseX - width / 2) / 200.0, (mouseY - height / 2) / 200.0);
        let n_functions = kinds[kind].functions.length;
        let functions = kinds[kind].functions;
        for (let i = 0; i < 700; i++) {
            if (isNaN(z.re) || isNaN(z.im)) {
                z = new Complex(random(2) - 1, random(2) - 1);
            }

            let f = functions[Math.floor(random(n_functions))];
            z = f(z, mouse);

            let x = Math.floor(z.re * 200 + width / 2);
            let y = Math.floor(z.im * 200 + height / 2);
            total_mass++;
            if (x >= 0 && x < width && y >= 0 && y < height) {
                density[x][y]++;
            }
        }

        loadPixels();
        for (let i = 0; i < width; i++) {
            for (let j = 0; j < height; j++) {
                if (last_density[i][j] == density[i][j]) {
                    continue;
                }
                last_density[i][j] = density[i][j];
                let d = 10 * density[i][j] / (100000 + total_mass) * width * height;
                let c = color((d/(d+450)*70), max(0, 800 - d*d/500), d*0.7);
                let idx = (i + j * width) * 4;
                pixels[idx] = red(c);
                pixels[idx + 1] = green(c);
                pixels[idx + 2] = blue(c);
                pixels[idx + 3] = 200;
            }
        }
        updatePixels();
    }

</script>