.post {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.post img {
  max-width: 80%;
  height: auto;
  margin: 1rem auto 2rem auto;
  display: block;
}

.post-video {
  display: block;
  margin: 1rem auto;
  max-width: 800px;
  aspect-ratio: 16 / 9;
}

.post{
  word-wrap: break-word;
}
