{{ define "main" }}
{{/* <div class="visual-container">
    {{ partial "visual.html" . }}
</div> */}}
{{/*
<img src="https://imgur.com/pBOqZZb.png"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; opacity: 0.5; object-fit: cover;">
*/}}
{{ partial "hero.html" . }}
{{ .Content }}

<div class="home-posts">
    {{ range site.RegularPages }}
    {{ if not .Params.hideInHome }}
    <a href="{{ .RelPermalink }}">
        <div class="home-post">
            <div class="home-post-img-container">
                {{ if .Params.video }}
                    <iframe width="auto" height="100%" src="https://www.youtube.com/embed/{{ .Params.video }}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    {{ else }}

                    {{ if .Params.image }}
                        <img class="home-post-img" src="{{ .Params.image }}" alt="{{ .Title }}">

                    {{ end }}
                {{ end }}
            </div>
            <div class="home-post-content">
                <h2>{{ .Title }}</h2>
                <p>{{ .Summary | plainify | truncate 200 }}</p>
            </div>
        </div>
    </a>
    {{ end }}
    {{ end }}
</div>

<style>
    .category-section {
        margin: 2rem 0;
        height: 350px;
    }

    .category-name {
        display: block;
        width: fit-content;
    }

    .scroll-container {
        position: relative;
        display: flex;
        align-items: center;
        overflow-x: auto;
        scroll-behavior: smooth;
    }

    .home-posts {
        display: flex;
        flex-direction: column;
        scroll-behavior: smooth;
        gap: 1rem;

        max-width: 1400px;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .home-post {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
        margin: 0 auto;
        backdrop-filter: blur(5px);
        padding: 10px;
        text-decoration: none;
        color: var(--text-color);
    }

    .home-post:hover {
        background: var(--dark-glass-bright);
    }



    .home-post-img-container {
        max-width: 500px;
        height: 180px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 6px;
    }

    .home-post-img {
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

    .home-post-content {
        flex: 2;
        font-size: 20px;
    }

    .home-post-content p {
        color: var(--text-color-muted);
    }

    .cards-container {
        display: flex;
        scroll-behavior: smooth;
        gap: 2rem;
        padding: 1rem;
    }

    .scroll-btn {
        position: sticky;
        z-index: 1;
        padding: 1rem;
        border: none;
        background: transparent;
        color: white;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
    }

    .scroll-btn.left {
        left: 0;
    }

    .scroll-btn.right {
        right: 0;
    }

    .scroll-btn:hover {

        background: var(--dark-glass-bright);
    }

    @media (max-width: 768px) {
        .home-post {
            flex-direction: column;
            gap: 1rem;
        }
    
        .home-post-img {
            height: 200px;
            width: 95%;
        }
        .home-post-content h2{
            font-size: 18px;
        }
        .home-post-content {
            font-size: 16px;
        }
    }
</style>


{{ end }}